@tailwind base;
@tailwind components;
@tailwind utilities;

.containerb {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.myFont {
  font-family: Antema;
}
*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: zingDemo;
  src: url(./fonFamily/ZingRust.ttf);
}

* {
  scroll-behavior: smooth;
}

.ZingDemo {
  font-weight: 100;
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-family: Antema;
}

.hash {
  background-image: linear-gradient(
      45deg,
      rgb(63, 63, 63),
      rgba(0, 0, 0, 0.522)
    ),
    url(./assets/bg.png);
}

.imgd {
  border: 3px solid white;
  backdrop-filter: blur(10px);
  /* animation: shine 5s infinite; */
}

@keyframes shine {
  0% {
    border-radius: 90% 50% 50% 90% / 90% 30% 30% 50%;
  }
  25% {
    border-radius: 50% 70% 50% 60% / 80% 50% 30% 80%;
  }
  50% {
    border-radius: 90% 50% 50% 90% / 90% 30% 30% 50%;
  }
  75% {
    border-radius: 50% 70% 50% 60% / 80% 50% 30% 80%;
  }
  100% {
    transform: rotate();
    border-radius: 90% 50% 50% 90% / 90% 30% 30% 50%;
  }
}

.salom::before {
  width: 70%;
  height: 100%;
  content: "";
  border-radius: 0 10px 10px 0;
  background-color: slategray;
}
